@{
    ViewData["Title"] = "P치gina Principal";
}

<div class="container text-center">
    <div class="row align-items-center min-vh-100">
        <div class="col">
            <h1 class="display-4">Bienvenido a la aplicaci칩n</h1>
            <p class="lead">Esta es una aplicaci칩n simple para ingresar informaci칩n de pacientes.</p>
            <a href="/Persona/Ingresar" class="btn btn-primary btn-lg">Ir al formulario</a>
        </div>
    </div>
</div>