@model IngresoInformacion.Models.Persona

<div class="text-center mt-5">
   <h1 class="display-4">Resultado</h1>
   <p class="lead">Nombre: <strong>@Model.Nombre</strong></p>
   <p class="lead">Apellido: <strong>@Model.Apellido</strong></p>
   <a href="/Persona/Ingresar" class="btn btn-success">Ingresar otra persona</a>
</div>
